    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    body {
        margin: 0px;
        padding: 0px;
        background-color: #161616;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    #main {
        padding: 30px 50px;
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-size: 1330px;
        background-position: right bottom;
        background-image: url("https://wallpapercave.com/wp/wp4472154.jpg");
        background-repeat: no-repeat;
        background-color: #161616;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: calibri;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 50px;
        background-color: #121212;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }
    
    .skills,
    .skills2 {
        padding: 100px 0;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .menu {
        display: flex;
    }
    
    .menu li a {
        display: block;
        position: relative;
        text-decoration: none;
        padding: 5px;
        color: whitesmoke;
        font-size: 18px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        text-transform: uppercase;
    }
    
    .logo {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    
    .toggle {
        display: none;
    }
    
    .menu:hover li a,
    .logo:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 0.2;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }
    
    .menu li a:hover,
    .logo:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        color: #17d1ac;
    }
    
    .menu li a::before,
    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #17d1ac;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        z-index: -1;
    }
    
    .name {
        font-family: calibri;
        width: 500px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translate(-20%, -50%);
    }
    
    .name .details,
    .name p {
        font-size: 14px;
        font-family: Poppins;
        color: #fff;
    }
    
    .name p {
        font-size: 20px;
        font-family: Poppins;
        color: #fff;
        padding: 0;
        margin-bottom: 0;
    }
    
    .name h1 {
        font-family: Poppins;
        font-size: 40px;
        margin: 0px;
        letter-spacing: 3px;
        color: #6c707c;
    }
    
    .social {
        position: absolute;
        left: 158px;
        bottom: 192px;
        display: flex;
    }
    
    .social a {
        margin: 6px 12px;
    }
    
    .social i {
        color: rgba(245, 243, 243, 0.788);
        font-size: 14px;
    }
    
    .social a:hover i {
        color: #17d1ac;
        transition: all ease 0.5s;
    }
    /*---------------------------------------  */
    
    #about {
        width: 100%;
        height: 100vh;
        background-color: #222121;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
        position: relative;
    }
    
    .intro {
        text-align: center;
    }
    
    .about-text {
        max-width: 1100px;
        width: 100%;
        margin: auto;
    }
    
    .shadow-dark {
        -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    }
    
    .about-text h1 {
        margin-top: -160px;
        margin-bottom: 0;
        padding: 0px;
        text-align: center;
        font-size: 4rem;
        color: #17d1ac;
    }
    
    .about-text p {
        margin-top: 20px;
        margin-bottom: -150px;
        font-size: 1.0rem;
        font-family: 'Poppins', sans-serif;
        color: rgba(255, 255, 255, 0.90);
        line-height: 2rem;
    }
    
    .intro img {
        height: 250px;
        width: 250px;
        margin-top: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: inline-block;
        border: 8px solid #414141;
    }
    /* ------------------------------- */
    
    section .title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
        color: #fff
    }
    
    section .title::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: rgb(255, 255, 255);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    section .title::after {
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        padding: 5px;
        color: #17d1ac;
        background: #fff;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .skills .skills-content,
    .skills2 .skills2-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .skills {
        color: #fff;
        background: #111;
        margin-left: 0;
        margin-right: 0;
    }
    
    .skills .title::before {
        background: #fff;
    }
    
    .skills .title::after {
        content: "what i can do";
        background: #111;
    }
    
    .skills .skills-content .card {
        width: calc(30% - 17px);
        background: #222;
        text-align: center;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    
    .skills .skills-content .card .box {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    
    .skills .skills-content .card:hover .box {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .skills .skills-content .card i {
        font-size: 50px;
        color: #17d1ac;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }
    
    .skills .skills-content .card:hover i {
        color: #fff;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .skills .skills-content .card .text {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
        color: #17d1ac;
    }
    
    .skills .skills-content .card:hover {
        background: #17d1ac;
    }
    
    .skills .skills-content .card:hover .text {
        color: #fff;
    }
    
    .skills2 .skills2-content .column {
        width: calc(50% - 30px);
    }
    
    .skills2 .skills2-content .left .text {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .skills2 .skills2-content .left p {
        font-size: 1.0rem;
        color: rgba(255, 255, 255, 0.90);
        text-align: justify;
    }
    
    .skills2 .skills2-content .right .bars {
        color: #fff;
        margin-bottom: 15px;
    }
    
    .skills2 .skills2-content .right .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .skills2 .skills2-content .right span {
        font-weight: 500;
        font-size: 18px;
    }
    
    .skills2 .skills2-content .right .line {
        height: 5px;
        width: 100%;
        background: lightgray;
        position: relative;
    }
    
    .skills2 .skills2-content .right .line::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        top: 0;
        background: #17d1ac;
    }
    
    .skills2 .skills2-content .right .ai::before {
        width: 90%;
    }
    
    .skills2 .skills2-content .right .ps::before {
        width: 80%;
    }
    
    .skills2 .skills2-content .right .py::before {
        width: 60%;
    }
    
    .skills2 .skills2-content .right .ss::before {
        width: 50%;
    }
    
    footer {
        font-family: 'Ubuntu', sans-serif;
        background: #111;
        padding: 20px 23px;
        color: #17d1ac;
        text-align: center;
    }
    
    footer a {
        margin: 6px 12px;
    }
    
    footer i {
        color: rgba(245, 243, 243, 0.788);
        font-size: 14px;
    }
    
    footer a:hover i {
        color: #17d1ac;
        transition: all ease 0.5s;
    }