           @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    body {
        margin: 0px;
        padding: 0px;
        background-color: #161616;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    #main {
        padding: 30px 50px;
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-size: cover;
        background-position: right bottom;
        /* background-image: url("https://wallpapercave.com/wp/wp4472154.jpg"); */
        background-repeat: no-repeat;
        background-color: #ffffff;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: calibri;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 50px;
        background-color: #f1f1f1;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.02);
        z-index: 1;
    }
    
    .skills,
    .skills2 {
        padding: 100px 0;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .skills2 {
        margin: 0;
        width: 100%;
        background: #f1f1f1;
    }
    
    .menu {
        display: flex;
    }
    
    .menu li a {
        display: block;
        position: relative;
        text-decoration: none;
        padding: 5px;
        color: rgb(27, 27, 27);
        font-size: 20px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        text-transform: uppercase;
    }
    
    .logo {
        font-size: 30px;
        font-weight: bold;
        padding-top: 5px;
        color: #17d1ac;
        font-family: 'Poppins', sans-serif;
    }
    
    .toggle {
        display: none;
    }
    
    .menu:hover li a {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 0.2;
        filter: blur(1.9px);
        -webkit-filter: blur(1.9px);
    }
    
    .menu li a:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        color: #17d1ac;
    }
    
    .menu li a::before,
    .logo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #17d1ac;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        z-index: -1;
    }
    
    .name {
        font-family: calibri;
        width: 500px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translate(-20%, -50%);
        -webkit-transform: translate(-20%, -50%);
        -moz-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
        -o-transform: translate(-20%, -50%);
    }
    
    .name img {
        position: absolute;
        width: 130%;
        padding-left: 497px;
        margin-top: -230px;
    }
    
    .name .details,
    .name p {
        font-size: 14px;
        font-family: Poppins;
        color: rgb(0, 0, 0);
    }
    
    .name p {
        font-size: 20px;
        font-family: Poppins;
        color: rgb(0, 0, 0);
        padding: 0;
        margin-bottom: 0;
    }
    
    .name h1 {
        font-family: Poppins;
        font-size: 40px;
        margin: 0px;
        letter-spacing: 3px;
        color: #6c707c;
    }
    
    .social_media_icon {
        padding: -900px;
    }
    
    .btn {
        display: inline-block;
        width: 3.37rem;
        height: 3.37rem;
        background: #e9e9e9;
        padding: 0px 0px;
        margin: 10px;
        border-radius: 30%;
        box-shadow: 0 5px 15px -5px #00000070;
        color: #17d1ac;
        overflow: hidden;
        position: relative;
    }
    
    .btn i {
        padding-left: 15px;
        padding-top: 14px;
        align-self: center;
        /* line-height: 70px; */
        font-size: 1.625rem;
        transition: 0.2s linear;
    }
    
    .btn:hover i {
        transform: scale(1.1);
        color: #f1f1f1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .btn::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: #17d1ac;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }
    
    .btn:hover::before {
        animation: aaa 0.7s 1;
        top: -10%;
        left: -10%;
    }
    /*---------------------------------------  */
    
    #about {
        width: 100%;
        height: 100vh;
        background-color: #ffffffef;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
        position: relative;
    }
    
    .intro {
        text-align: center;
    }
    
    .about-text {
        max-width: 1100px;
        width: 100%;
        margin: auto;
    }
    
    .shadow-dark {
        -webkit-box-shadow: 0 0 20px rgba(235, 235, 235, 0.568);
        box-shadow: 0 0 20px rgba(235, 235, 235, 0.568);
        animation: bounce 1.2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        -webkit-animation: bounce 1.2s;
    }
    
    .about-text h1 {
        margin-top: -160px;
        margin-bottom: 0;
        padding: 0px;
        text-align: center;
        font-size: 4rem;
        color: #17d1ac;
    }
    
    .about-text p {
        margin-top: 20px;
        margin-bottom: -150px;
        font-size: 1.0rem;
        font-family: 'Poppins', sans-serif;
        color: rgba(0, 0, 0, 0.9);
        line-height: 2rem;
    }
    
    .intro img {
        height: 250px;
        width: 250px;
        margin-top: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: inline-block;
        border: 8px solid #17d1ac;
    }
    
    .intro img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    /* ------------------------------- */
    
    section .title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(0, 0, 0)
    }
    
    section .title::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 200px;
        height: 3px;
        background: rgb(0, 0, 0);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    section .title::after {
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        padding: 5px;
        color: #17d1ac;
        background: rgb(0, 0, 0);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .skills .skills-content,
    .skills2 .skills2-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .skills {
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        margin-left: 0;
        margin-right: 0;
    }
    
    .skills .title::before {
        background: rgb(0, 0, 0);
    }
    
    .skills .title::after {
        content: "what i can do";
        background: rgb(255, 255, 255);
    }
    
    .skills .skills-content .card {
        width: calc(25% - 15px);
        background: rgba(214, 214, 214, 0.521);
        text-align: center;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin: 30px;
        padding: 20px 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    
    .skills .skills-content .card .box {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    
    .skills .skills-content .card:hover .box {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .skills .skills-content .card img {
        width: 40%;
        font-size: 50px;
        color: #17d1ac;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }
    
    .skills .skills-content .card:hover i {
        color: #fff;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .skills .skills-content .card .text {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
        color: #17d1ac;
    }
    
    .skills .skills-content .card:hover {
        background: #17d1ac;
    }
    
    .skills .skills-content .card:hover .text {
        color: #fff;
    }
    
    .skills2 .skills2-content .column {
        width: calc(50% - 30px);
    }
    
    .skills2 .skills2-content .left .text {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    
    .skills2 .skills2-content .left p {
        font-size: 1.0rem;
        color: rgba(0, 0, 0, 0.9);
        text-align: justify;
        margin-left: 25px;
    }
    
    .skills2 .skills2-content .right .bars {
        color: rgb(0, 0, 0);
        margin-bottom: 15px;
    }
    
    .skills2 .skills2-content .right .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 35px;
    }
    
    .skills2 .skills2-content .right span {
        font-weight: 500;
        font-size: 18px;
    }
    
    .skills2 .skills2-content .right .line {
        height: 5px;
        width: 100%;
        border-radius: 5px;
        background: lightgray;
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .skills2 .skills2-content .right .line::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        top: 0;
        background: #17d1ac;
    }
    
    .skills2 .skills2-content .right .ai::before {
        width: 90%;
    }
    
    .skills2 .skills2-content .right .ps::before {
        width: 80%;
    }
    
    .skills2 .skills2-content .right .py::before {
        width: 60%;
    }
    
    .skills2 .skills2-content .right .ss::before {
        width: 50%;
    }
    


    

    footer {
        font-family: 'Ubuntu', sans-serif;
        background: rgb(255, 255, 255);
        padding: 20px 23px;
        color: #17d1ac;
        text-align: center;
    }
    
    footer a {
        margin: 6px 12px;
    }
    
    footer i {
        color: #17d1ac;
        font-size: 14px;
    }
    
    footer a:hover i {
        transform: scale(1.8);
        transition: all ease 0.5s;
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -ms-transform: scale(1.8);
        -o-transform: scale(1.8);
    }
    
    @media only screen and (max-width:470px) {
        .btn {
            width: 2.5rem;
            height: 2.5rem;
            margin: 7px;
        }
        .btn i {
            line-height: 40px;
            font-size: 1em;
        }
        .name {
            margin: 30px;
            margin-top: -50px;
        }
        .name h1 {
            font-size: 2em;
        }
        .name img {
            display: none;
        }
        .logo {
            font-size: 30px;
            margin-left: -30px;
            padding: 30px;
        }
        nav {
            width: 470px;
            position: absolute;
            background-color: #ffffff;
        }
        .menu li a {
            display: none;
        }
    }
